.box {
    text-indent: 2em;
}
.box {
    width: 100%;
    height: 100%;
    background-color: #cccc;
}

.box_a {
    width: 100%;
    height: 40px;
    background-color: rgb(41, 41, 41);
    position: relative;
}

.box_b {
    position: absolute;
    right: 20px;
    top: 10px;
   color: #fff;

}

.box_d {
    color: #ffff;
}

.box_c {
    background-color: #ffffff;
    width: 70%;
    height: 800px;
    margin: 10px 10px
}

.box-e {
    width: 30%;
}

.boxt {
    display: flex;
}

.botn {
    margin: 5px 5px;
}

.imgs {
    text-align: center;
    width: 181px;
}

.bos {
    display: flex;
}

.imgse {
    width: 200px;
    margin: 0 auto;
}

.boe {
    border: 1px solid #cccccc;
    width: 189px;
    height: 227px;
}

.imges {
    width: 152px;
    /* height: 200px; */
    vertical-align: center;
}
.table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#customers td,
#customers th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#customers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#customers tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}

.box-e input{
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #aaa;
    font-size: 14px;
    padding: 10px;
    height: 18px;
    vertical-align: middle;
    border-radius: 4px;
    width:300px;
    margin-bottom: 10px;
    position: relative;
    top: 185px;

}
#shouji{
    position: relative;
    right: 33px ;
}
.btn1{
    border: 1px solid #0381aa;
    color: #fff;
    background-color: #00a7de;
    display: inline-block;
    border-radius: 2px;
    height: 36px;
    width: 184px;
    line-height: 38px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
    position: relative;
    top: 193px;
    right: -34px;
}
.box10 h1{
    font-size: medium;
    position: relative;
    right: 33px;
}
#tupian{
    width: 34px;
    height: 27px;
    position: relative;
    top: 8px;
}



